.createFolderForm {
    position: absolute;
    height: 20dvh;
    width: 20dvw;
    top: 50%;
    left: 50%;
    margin-top: -10dvh;
    margin-left: -10dvw;
    display: flex;
    flex-grow: 0;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
}

.createFolderButtonContainer {
    display: flex;
    justify-content: space-between;
    width: 20dvw;
}

.darken{
    filter: brightness(50%); 
}


.folder-icon {
    width: 200px;
}

.folder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Lato";
}

.folderContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 10dvw;
    padding-right: 10dvw;
    padding-top: 10dvh;
    padding-bottom: 10dvh;
    gap: 32px;

}

.sideBar {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 70dvh;
    max-width: 20dvw;
    align-items:flex-start;
    justify-content: space-between;
    padding-top: 10dvh;
    padding-bottom: 10dvh;
    padding-left: 3dvw;
    padding-right: 3dvw;
    font-family: "Lato";
    background-color: bisque;
    box-shadow: 1px 1px 1px 1px rgb(172, 172, 172);
}

.content {
    display: flex;
}

.uploadIcon {
    width: 50px;
}